#startButton, #resetButton, #ajaxLoader {
  vertical-align: middle;
}

#resetButton {
  background-color: #ffffff;
  padding: 0px;
}

#ajaxLoader {
  visibility: hidden;
}

img.show {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
  border-style: none;
}
